@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* You can add global styles to this file, and also import other style files */

/* Example Tailwind directives (if you are using Tailwind CSS) */
/* 
@tailwind base;
@tailwind components;
@tailwind utilities;
*/ 